<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: gray;
        }
    </style>
    <title>online store's main pages</title>
</head>
<body>
    <h1 align="center" style="color: blue;">
        Assalomu alaykum Bizning Telefon Do'konimizga hush kelibsiz!
    </h1>
    <h2 align="center" style="color: green;">
        Xizmatlarimizdan foydalanib qo'llab-quvvatlayatganingiz uchun rahmat!
    </h2>
    <h1 align="center">
        <a href="phones/" >Telefonlar ro'yxati</a>

    </h1>
    <h4 align="center" style="color: red;">
        yuqoridagi 'Telefonlar ro'yxati' ni 2 marta bosing iltimos tizim xatosi(sorry!)
    </h4>
        
</body>
</html>